/!DOCTYPE html.txt
/DMS
/Task
/Task-2
/Time responses.xlsx
/data.db
/database.db
/dms code.txt
/entities.db
/env
/file_data.db
/flask_app
/geodata
/neo4 queries.txt
/neo4j
/rdbms.db
/sample
/test.ipynb
/uploads
/venv